moonshine-voice
langchain
langgraph
langchain-openai
langchain-google-genai
pydantic
openai 
anthropic 
google-genai 
huggingface_hub 
llama-cpp-python
dotenv
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
ChromaDB